body{
    background-color: black;
    color: white;
}

#header{
    text-align: center;
    background-color: rgb(156, 9, 9) ;
    color: white;
    font-size: 30px;
    padding: 5px;
    border-style: solid;
    border-color: white;
    border-width: 10px;
}

.topnav     {
    float: left;
    width: 30%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.topnav a   {
    width: 356px;
    background-color: rgb(156, 9, 9);
    font-size: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    color: white;
}

#section    {
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 50%;
    padding: 1%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
