body{
	background-color: cornflowerblue;
}

.logo {
	float: left;
	padding: 5px;
	border-right: 3px solid black;
}
.border {
	border: 3px solid black;
}
.center {
	text-align: center;
}
header{
	margin-bottom: 10px;
}
.placeholder-img {
	width: 100px;
	height: 100px;
	margin: 0 20px 0 20px;
	background: #d6d6d8;
	border: 3px solid black;
}
.placeholder-img.large {
	width: 100px;
	height: 100px;
}
.center .placeholder-img {
	margin: 0 auto 20px auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
.placeholder-img.right {
	margin-right: 0;
}
.placeholder-img.left {
	margin-left: 0;
}
.full-width {
	width: 100%;
}
.nav-link.active {
	color: rgb(20, 68, 80);
}
section {
	clear: both;
}